<app-header title="Card"></app-header>

<ion-content>
  <ion-card mode="ios">
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item color="pimary">
      <ion-icon slot="start" name="pin-outline"></ion-icon>
      <ion-label>Marcador</ion-label>
    </ion-item>
    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita modi dolor aperiam odit, illo veritatis ullam quas vel aut cupiditate nostrum natus deleniti quaerat? Ut sequi doloremque facere explicabo repudiandae!
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__480.jpg">
    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque animi laboriosam iusto accusamus fugiat quae, eius minima eum officiis vel enim id distinctio itaque! Molestias officia quibusdam fuga beatae dolore?
    </ion-card-content>
  </ion-card>

</ion-content>